/*colors*/
$main: #c092b6;
$secondary: #ece1ee;
$section: #e7f2ef;
$main-font: #515050;
$white: #ffffff;
$violet: #be7ba6;

$main-pink: #dd9f9f;
$secondary-pink:  #eed2d2; 
$black: #000000;
$azure: #e7f2ef;
$darklategray: #515050;
$lightgray: #e5e5e5;
$green: #a7eae1;
$lightviolet: #c092b6;
$secondary-lightviolet: #ece1ee;

/* #eeebf2 very light purple */
